@font-face {
  font-family: JuneBug;
  src: url('font/Lobster-Regular.ttf');
}

:root {
  --body-bg: rgb(233, 51, 35);
  --body-color: rgb(255, 255, 255);
  --container-bg: rgb(203, 203, 203);
  --grid-border: rgba(255, 255, 255, 0.06);
  --grid-bg: rgb(112, 112, 112);
  --buttons-bg: white;
  --buttons-color: rgb(218, 211, 211);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: JuneBug, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--body-bg);
  color: var(--body-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

header h1 {
  background: linear-gradient(
    to bottom,
    #cfc09f 22%,
    rgb(190, 170, 130) 24%,
    #cfc09f 26%,
    #cfc09f 27%,
    #ffecb3 40%,
    rgb(190, 170, 130) 78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  position: relative;
  margin: 0;
  margin-bottom: 1rem;
}

header h1:after {
  background: none;
  content: attr(data-heading);
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: -1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f,
    5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);
}

.container {
  width: 80%;
  height: 70%;
  background-color: var(--container-bg);
  border-radius: 24px;
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.295),
    inset -2px -2px 24px rgba(0, 0, 0, 0.216),
    -2px -2px 6px rgba(255, 255, 255, 0.32),
    0 0 0 10px rgba(255, 255, 255, 0.178);

  display: grid;
  grid-template-columns: repeat(16, 1fr);
  /* BEWARE: grid-template-columns is set on script.js file */
  margin-bottom: 1rem;
}

.container .grid {
  border: 1px solid var(--grid-border);
  cursor: none;

  /* TIP: choose longer transition time for static image effect */
  transition: 1s;
}

.container .grid:hover {
  background-color: var(--grid-bg);
  transition: 0.1s;
  cursor: none;
}

.buttons-container {
  /* position: relative; */
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.buttons-container button {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--buttons-bg);
  color: var(--buttons-color);
  border: 3px solid rgb(236, 228, 228);
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.172),
    -2px -2px 6px rgba(255, 255, 255, 0.209);
}

.buttons-container button:active {
  transform: scale(0.98);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.172),
    inset -2px -2px 6px rgba(255, 255, 255, 0.209);
}
